:root {
  --bg-color-fallback: #020024;
  --bg-gradient: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(23, 22, 41, 1) 30%, rgba(13, 13, 36, 1) 51%, rgba(22, 17, 33, 1) 70%, rgba(2, 0, 36, 1) 100%);
  
  
  --color-text-gray: #9CA3AF;

  --color-top-text: #6B7280;
  --color-top-a: #6B7280;
  --color-top-nav: #4B5563;
  --bg-top-bar: #0F1117;
  --bg-top-search: #6B7280;
  --bg-top-search-button: #8B5CF6;
  --color-top-search-icon: #6B7280;
  --color-top-border: #2D3243;

  --color-footer-text: #6B7280;
  --color-footer-a: #6B7280;
  --color-footer-nav: #4B5563;
  --bg-footer-bar: #090B11;
  --color-footer-icon-disc: #2929d1;
  --color-footer-icon-inst: #ba4e62;


  --font-fallback: "Inter", sans-serif;

  --white: #FFFFFF;
  --black: #000000;
  --gray: #808080;  
  --spacing-xs: 0.5rem;   /* 8px */
  --spacing-sm: 1rem;     /* 16px */
  --spacing-md: 2rem;     /* 32px */
  --spacing-lg: 4rem;     /* 64px */
  --spacing-xl: 6rem;     /* 96px */
  --spacing-xm: 8rem;     /* 104px */
  --spacing-xy: 10rem;     /* 112px */
  --spacing-xx: 12rem;     /* 120px */

}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  font-weight: 500;
  list-style: none;
}

body {
  background: var(--bg-gradient);
  font-family: var(--font-fallback);
  color: var(--white)
}

body.offer-body {
    background: #0F1117;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-sm);
}