.login-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.login-page .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-account .container {
    border: 1px solid #54496d;
    border-radius: 25px;
    width: 80%;
    margin: 5rem;
    padding: 3rem 0 3rem 0;
}

.login-page .slogan {
    border: 1px solid #54496d;
    border-radius: 25px;
    width: 80%;
    margin: 5rem;
    padding: 3rem 0 3rem 0;
}


.slogan .init .title {
    font-weight: 700;
    background: linear-gradient(100deg,rgba(192, 132, 252, 1) 0%, rgba(139, 92, 246, 1) 50%, rgba(109, 40, 217, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.slogan .init .subtitle {
    font-weight: 500;
    color: #5a42a1;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.slogan .list li {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.slogan .list .icon-check1 {
    color: #A78BFA;
    font-size: 2rem;
    margin-right: 1rem;
}

.slogan .list .icon-check2 {
    color: #818CF8;
    font-size: 2rem;
    margin-right: 1rem;
}

.slogan .list .icon-check3 {
    color: #6EE7B7;
    font-size: 2rem;
    margin-right: 1rem;
}

.slogan .list li span {
    color: #C4B5FD;
}

.slogan .icons {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.slogan .icons .icon-steam, .icon-epic, .icon-gog{
    margin-right: 5px;
}

.slogan .icons .icon-steam{
    color: #5482bd;
}

.slogan .icons .icon-epic{
    color: #a583d3;
}

.slogan .icons .icon-gog{
    color: #90d383;
}

.slogan .icons p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem;
    margin-right: 5px;
    border: 1px solid #54496d;
    border-radius: 25px;
    background: #383f6677;
    font-weight: 800;
}

.slogan .icons p:last-child {
    color: #FBBF24;
}