.offer-page {
    
}

.offer-page .container {
    margin: 0 var(--spacing-xx);
}

.offer-page .horizontal-border {
    
    margin: 2rem 0;
}

.horizontal-border  .link-border {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.horizontal-border .link-border span .icon-right{
    color: #6B7280;
    font-size: 0.9rem;
}

.horizontal-border .link-border a:first-child{
    color: #6B7280;
}

.horizontal-border .link-border a:last-child {
    font-weight: 800;
    color: var(--white);
}

.offer-page .offer-main {

}